
<footer class="bg-gray-300 py-10 dark:text-white dark:bg-gray-800/80">
    <div class=" w-11/12 mx-auto">
        <h3 class="m-0 text-2xl  dark:text-white">Get the FreshCart app</h3>
        <p class=" text-gray-500 text-sm dark:text-white">we will send you a link , open it on your phone to download the app</p>
    

    <div class="input flex items-center gap-3 py-3 text-nowrap ">
<input type="email" id="helper-text" aria-describedby="helper-text-explanation" class="w-full bg-white border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-green-200 focus:border-green-700 block p-1.5 placeholder:text-gray-400  " placeholder="Email ..">
<button class="bg-green-700 dark:bg-green-500  rounded-lg p-2 text-sm  cursor-pointer px-4 py-1 text-white ">share app link</button>
    </div>
    <div class="pay py-3 border-b border-gray-300 border-t md:flex justify-between">
<div class="flex items-center gap-3   ">
    <h3 class="text-sm text-gray-500 py-0 dark:text-white">payment Detiles</h3>
    <img src="amazon-pay.png" alt="amazon-pay" width="50px" >
    <img src="American-Express-Color.png" alt="amazon-pay" width="50px" >
    <img src="paypal.png" alt="amazon-pay" width="50px" >
    <img src="mastercard.webp" alt="amazon-pay" width="50px" >
</div>
<div class="flex gap-3 items-center">
<h3 class="text-sm text-gray-500 py-0 dark:text-white">get deliveries with fresh cart</h3>
<img src="get-apple-store.png" alt="" width="100px">
<img src="get-google-play.png" alt="" width="100px">
</div>
    </div>
    </div>
</footer>